body, html{
    margin: 0px 0px 0px 0px;
    padding:0;
    width: 100%;
    font-family: roboto, sans-serif; 
    background-color: #f4f4f4;
    * {
        box-sizing:border-box;
    }
}

ul{
    list-style: none;
    text-decoration: none;
}

li a{
    text-decoration: none;
    color: black;
}

.container{
    width: 100%;
    height: 30px;
    display: flex;
    flex: 1 1;
    flex-direction: row;
    background-color: #dcdcdc;
    margin: 0px 0px 0px 0px;
    #container__space{
        width: 60%;
    }
    .container__nav{
        width: 40%;
        align-items: flex-start;
        .container__ul{
            width: auto;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin-top: 5px;
            .container__li{
                font-size: 1em;
            }
        }
    }
}

.header{
    display: flex;
    flex-direction: row;
    flex: 1 1;
    width: 100%;
    height: 80px;
    background-color: #f3e9f1;
    .header__h1{
        width: 150px;
        height: 80px;
        margin: 0px 30px 0px 30px;  
        .header__logo{
            width: 150px;
            height: 75px;
        }
    }
    .header__space{
        width: 60%;
    }
    .header__formulaire{
        height: 80px;
        width: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        form{
            margin-right: 20px;
            font-size: 1em;
        }
    }
    .header__icones{
        font-size: 1.3em;
        display: inline;
        .header__icones i{
            margin: 0 20px 0 20px;
        }
    }
}


/*SECTION 1*/

.section1{
    background-color: #f4f4f4;
    height: 40px;
    margin-bottom: 0px;
    box-shadow: inset 0 2px 5px 0 rgb(0 0 0 / 11%);
    .section1__liste{
        height: 40px;
        font-size: 1.1em;
        margin: 0px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .section1__li{
            margin-left: 100px;
        }
    }
}

/*SECTION 2*/

.section2{
    display: flex;
    flex-direction: row;
    .section2__img{
        width: 500px;
        height: 600px;
        margin-left: 40px;
        margin-right: 40px;
        .section2__img1{
            width: 500px;
            height: auto;
        }
    }
    .section2__description{
        width: 50%;
        .section2__label{
            font-size: 1rem;
            padding-right: 10px;
        }
        .section2__select{
            font-size: .9rem;
            padding: 2px 5px;
        }
        .section2__incart{
            margin-top: 40px;
            border: 0;
            line-height: 2.5;
            padding: 0 20px;
            font-size: 1rem;
            text-align: center;
            color: linear-gradient(to top left,
                            rgba(229,138,12,255),
                            rgba(174,108,167,255) 50%,
                            rgba(143,91,254,255));
            text-shadow: 1px 1px 1px #000;
            border-radius: 10px;
            background-color: #e68a09;
            box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                        inset -2px -2px 3px rgba(0, 0, 0, .6);
        }

            .section2__incart:hover {
                background-color: #8f5bfe;
            }

            .section2__incart:active {
                box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                            inset 2px 2px 3px rgba(0, 0, 0, .6);
            }
    }
}

/*SECTION 3*/

.section3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #f3e9f1;

    i{
        font-size: 30px;
        margin: 15px;

    }

}

/*FOOTER*/

footer{
    background-color: #f3e9f1;
    box-shadow: inset 0 1px 2px 0 rgb(0 0 0 / 11%);
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 16px;
    padding-bottom: 16px; 
}