body, html{
    margin: 0px 0px 0px 0px;
    padding:0;
    width: 100%;
    font-family: roboto, sans-serif; 
    background-color: #f4f4f4;
    * {
        box-sizing:border-box;
    }
}

ul{
    list-style: none;
    text-decoration: none;
}

li a{
    text-decoration: none;
    color: black;
}

.container{
    width: 100%;
    height: 30px;
    display: flex;
    flex: 1 1;
    flex-direction: row;
    background-color: #dcdcdc;
    margin: 0px 0px 0px 0px;
    #container__space{
        width: 60%;
    }
    .container__nav{
        width: 40%;
        align-items: flex-start;
        .container__ul{
            width: auto;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin-top: 5px;
            .container__li{
                font-size: 1em;
            }
        }
    }
}

.header{
    display: flex;
    flex-direction: row;
    flex: 1 1;
    width: 100%;
    height: 80px;
    background-color: #f3e9f1;
    .header__h1{
        width: 150px;
        height: 80px;
        margin: 0px 30px 0px 30px;  
        .header__logo{
            width: 150px;
            height: 75px;
        }
    }
    .header__space{
        width: 60%;
    }
    .header__formulaire{
        height: 80px;
        width: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        form{
            margin-right: 20px;
            font-size: 1em;
        }
    }
    .header__icones{
        font-size: 1.3em;
        display: inline;
        .header__icones i{
            margin: 0 20px 0 20px;
        }
    }
}


/*SECTION 1*/

.section1{
    background-color: #f4f4f4;
    height: 40px;
    margin-bottom: 0px;
    box-shadow: inset 0 2px 5px 0 rgb(0 0 0 / 11%);
    .section1__liste{
        height: 40px;
        font-size: 1.1em;
        margin: 0px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .section1__li{
            margin-left: 100px;
            .section__li a{

            }
        }
    }
}

/*SECTION 2*/

.section2{
background-color: #f4f4f4;
padding-top: 30px;
box-shadow: inset 0 2px 5px 0 rgb(0 0 0 / 11%);
border-bottom: 2px solid #f1f1f1;
    .section2__row1{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0px 30px;
    }
    .section2__row2{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 30px;
    }
        .section2__article{
            display: flex;
            flex-direction: column;
            width: 30%;
            margin-bottom: 20px;
            padding: 10px;
            background-color: white;
            box-shadow: 1px 1px 12px rgb(197, 197, 197);
            .section2__img{
                width: auto;
                height: 250px;
            }
            .section2__description{
                font-size: 15px;
            }
        }
        .section2__space{
            width: 30%;
        }
}


/*SECTION 3*/

.section3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #f3e9f1;

    i{
        font-size: 30px;
        margin: 15px;

    }

}

/*FOOTER*/

footer{
    background-color: #f3e9f1;
    box-shadow: inset 0 1px 2px 0 rgb(0 0 0 / 11%);
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 16px;
    padding-bottom: 16px; 
}